/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    background: rgb(57,48,74);
    background: linear-gradient(135deg, rgba(57,48,74,1) 0%, rgba(49,43,65,1) 33%, rgba(13,13,19,1) 100%);
}


/* DESKTOP NAV */

.logo {
    color: azure;
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


nav,
.nav-links {
    display: flex;
    justify-content: flex-end;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: grey;
    text-decoration: none;
    text-decoration-color: black;
}

a.linkedin_nav {
    color: #5E7988;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* HELLO */

.hello {
    color: azure;
    display: flex;
    flex-direction: column;
    opacity: 50%;
}

/* PROFILE */
    
section {
    padding-top: 4vh;
    margin: 0;
    box-sizing: border-box;
    color: azure;
    }

.section-container{
    display: flex;
}

#intro {
    display: flex;
    gap: 5rem;
    height: 88vh;
    flex-direction: row-reverse;
}

.intro_img_container {
    display: flex;
    height: 400px;
    margin: auto 0;
    flex-basis: 40%;
}

.intro_text {
    flex-wrap: wrap;
    align-self: center;
    text-align: left;
    font-size: 3vw;
    flex-basis: 60%;
}

.intro_text_description {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.intro_img {
    flex-grow: auto;
}

/* ABOUT ME */

#about_me {
    display: flex;
    flex-direction: row;
}

.about_me_img_container {
    flex-basis: 30%;
}

.about_me_title {
    font-size: 5vw;
}

.about_me_quote {
    font-style: italic;
    font-size: 3vw;
}

.about_me_description {
    font-size: 1.5vw;
}

/* LOGOS */

.skills_logos {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aws {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.64 10.38c0 .25.02.45.07.62c.05.12.12.28.21.46c.04.04.05.1.05.15c0 .07-.04.13-.13.2l-.42.28c-.06.04-.12.06-.17.06c-.07 0-.13-.04-.2-.1c-.09-.1-.17-.2-.24-.31c-.06-.11-.13-.24-.2-.39c-.52.61-1.17.92-1.96.92c-.56 0-1-.16-1.33-.48c-.32-.32-.49-.75-.49-1.29c0-.55.2-1 .6-1.36c.41-.34.95-.52 1.63-.52c.23 0 .44.02.71.06c.23.03.5.08.76.14v-.48c0-.51-.1-.84-.31-1.07c-.22-.21-.57-.3-1.08-.3c-.24 0-.48.03-.72.08c-.25.06-.49.13-.72.23c-.11.04-.2.07-.23.08c-.05.02-.08.02-.11.02c-.09 0-.14-.06-.14-.2v-.33c0-.1.01-.18.05-.23q.045-.075.18-.12c.24-.14.51-.24.84-.32a4 4 0 0 1 1.04-.13q1.185 0 1.74.54c.37.36.55.91.55 1.64v2.15zm-2.7 1.02c.22 0 .44-.04.68-.12s.45-.23.63-.43c.11-.13.19-.27.25-.43c0-.16.05-.35.05-.58v-.27c-.2-.07-.4-.07-.62-.12a7 7 0 0 0-.62-.04c-.45 0-.77.09-.99.27s-.32.43-.32.76c0 .32.07.56.24.71c.16.17.39.25.7.25m5.34.71a.6.6 0 0 1-.28-.06c-.03-.05-.08-.14-.12-.26L8.32 6.65c-.04-.15-.06-.22-.06-.27c0-.11.05-.17.16-.17h.65c.13 0 .22.02.26.07c.06.04.1.13.14.26l1.11 4.4l1.04-4.4c.03-.13.07-.22.13-.26c.05-.04.14-.07.25-.07h.55c.12 0 .21.02.26.07c.05.04.1.13.13.26L14 11l1.14-4.46c.04-.13.09-.22.13-.26c.06-.04.14-.07.26-.07h.62c.11 0 .17.06.17.17c0 .03-.01.07-.02.12c0 0-.02.08-.04.15l-1.61 5.14c-.04.14-.08.21-.15.26c-.04.04-.13.07-.24.07h-.57c-.13 0-.19-.02-.27-.07a.45.45 0 0 1-.12-.26L12.27 7.5l-1.03 4.28q-.045.195-.12.27a.5.5 0 0 1-.27.06zm8.55.18c-.33 0-.7-.04-1.03-.12s-.59-.17-.76-.26a.5.5 0 0 1-.21-.19a.4.4 0 0 1-.04-.18v-.34c0-.14.05-.2.15-.2h.12c.04 0 .1.05.17.08c.22.1.47.18.73.23c.27.05.54.08.79.08c.42 0 .75-.07.97-.22c.23-.17.35-.36.35-.63c0-.19-.07-.34-.18-.47c-.12-.12-.35-.24-.67-.34l-.97-.3c-.48-.16-.84-.38-1.06-.68a1.58 1.58 0 0 1-.33-.97c0-.28.06-.52.18-.73c.12-.22.28-.4.46-.55c.22-.15.44-.26.71-.34q.39-.12.84-.12q.21 0 .45.03c.14.02.28.05.42.07c.14.04.26.07.38.11s.2.08.28.12c.09.05.16.1.2.16s.06.13.06.22v.32q0 .21-.15.21c-.05 0-.14-.03-.26-.08c-.37-.17-.8-.26-1.27-.26c-.38 0-.66.06-.89.19c-.2.12-.31.32-.31.59c0 .19.07.35.2.47c.13.13.38.25.73.37l.95.3c.48.14.82.36 1.03.64q.3.405.3.93c0 .28-.06.54-.17.77c-.12.22-.28.42-.5.58c-.19.17-.44.29-.72.38s-.62.13-.95.13m1.25 3.24C17.89 17.14 14.71 18 12 18c-3.85 0-7.3-1.42-9.91-3.77c-.21-.19-.02-.44.23-.29c2.82 1.63 6.29 2.62 9.89 2.62c2.43 0 5.1-.5 7.55-1.56c.37-.15.68.26.32.53M21 14.5c-.29-.37-1.86-.18-2.57-.1c-.21.03-.24-.16-.05-.3c1.25-.87 3.31-.6 3.54-.33c.24.3-.06 2.36-1.23 3.34c-.19.15-.36.07-.28-.11c.27-.68.86-2.16.59-2.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.azure {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M43.983 4.653a5.91 5.91 0 0 1 5.6 4.022l35.91 106.396a5.91 5.91 0 0 1-5.603 7.802h41.38a5.92 5.92 0 0 0 4.8-2.465a5.91 5.91 0 0 0 .798-5.34L90.961 8.672a5.91 5.91 0 0 0-5.602-4.022zm-1.336.478a5.92 5.92 0 0 0-5.61 4.029L1.132 115.55a5.91 5.91 0 0 0 5.6 7.8h28.893c1.239 0 2.446-.41 3.452-1.113a5.92 5.92 0 0 0 2.157-2.916l7.019-20.71l-13.411-12.857c-.246-.273-1.353-2.274-.369-4.002c1.108-1.659 2.955-1.659 2.955-1.659h17.285l9.074-26.145L48.274 8.321c-.042-.205-.914-1.365-2.281-2.28c-1.37-.915-3.345-.909-3.345-.909zm-4.88 75.74a2.724 2.724 0 0 0-1.86 4.718l37.83 35.31c1.101 1.03 2.502 1.631 4.007 1.631c0 0 1.282.068 2.055-.033c1.817-.273 3.525-1.768 4.09-2.39c1.457-1.939.794-4.95.794-4.95l-11.45-34.28z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.python {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='%23000' clip-path='url(%23akarIconsPythonFill0)'%3E%3Cpath d='M11.914 0C5.82 0 6.2 2.656 6.2 2.656l.007 2.752h5.814v.826H3.9S0 5.789 0 11.969c0 6.18 3.403 5.96 3.403 5.96h2.03v-2.867s-.109-3.42 3.35-3.42h5.766s3.24.052 3.24-3.148V3.202S18.28 0 11.913 0M8.708 1.85c.578 0 1.046.47 1.046 1.052c0 .581-.468 1.051-1.046 1.051c-.579 0-1.046-.47-1.046-1.051c0-.582.467-1.052 1.046-1.052'/%3E%3Cpath d='M12.087 24c6.092 0 5.712-2.656 5.712-2.656l-.007-2.752h-5.814v-.826h8.123s3.9.445 3.9-5.735c0-6.18-3.404-5.96-3.404-5.96h-2.03v2.867s.109 3.42-3.35 3.42H9.452s-3.24-.052-3.24 3.148v5.292S5.72 24 12.087 24m3.206-1.85c-.579 0-1.046-.47-1.046-1.052c0-.581.467-1.051 1.046-1.051c.578 0 1.046.47 1.046 1.051c0 .582-.468 1.052-1.046 1.052'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsPythonFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.html {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='%23000' clip-path='url(%23akarIconsHtmlFill0)'%3E%3Cpath d='M5.08 0h1.082v1.069h.99V0h1.082v3.236H7.152V2.153h-.99v1.083H5.081zm4.576 1.073h-.952V0h2.987v1.073h-.953v2.163H9.656zM12.165 0h1.128l.694 1.137L14.68 0h1.128v3.236h-1.077V1.632l-.744 1.151h-.019l-.745-1.15v1.603h-1.058zm4.181 0h1.083v2.167h1.52v1.07h-2.603z'/%3E%3Cpath fill-rule='evenodd' d='M5.046 22.072L3 4.717h18L18.953 22.07L11.99 24zm4.137-9.5l-.194-2.18h8.145l.19-2.128H6.664l.574 6.437h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.332l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsHtmlFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.css {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.502 0h2.578v1.078h-1.5v1.078h1.5v1.078H7.502zm3.093 0h2.579v.938h-1.5v.187h1.5v2.156h-2.579v-.984h1.5v-.188h-1.5zm3.095 0h2.577v.938h-1.5v.187h1.5v2.156H13.69v-.984h1.5v-.188h-1.5z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m11.991 24l-6.944-1.928L3 4.717h18L18.954 22.07zM7.047 12.573l.191 2.128h7.377l-.247 2.76l-2.374.642h-.002l-2.37-.64l-.152-1.697H7.333l.298 3.342l4.36 1.21l4.367-1.21l.532-5.964l.052-.571l.384-4.309H6.664l.194 2.129h8.136l-.194 2.18z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.javascript {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M15 0H0v15h15zM8 8a2 2 0 0 1 2-2h1.167C12.179 6 13 6.82 13 7.833V8h-1v-.167A.833.833 0 0 0 11.167 7H10a1 1 0 0 0 0 2h1a2 2 0 1 1 0 4h-1a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2h-1a2 2 0 0 1-2-2M6 6v5a1 1 0 1 1-2 0H3a2 2 0 1 0 4 0V6z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.sql {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M64 8.25c-3.465.008-6.93.164-10.383.477a99 99 0 0 0-6.27.773q-2.813.457-5.585 1.125c-1.602.39-3.188.86-4.75 1.398q-1.015.374-2.012.813q-1.307.576-2.531 1.316q-.361.22-.711.461a9 9 0 0 0-2.035 1.969a4.7 4.7 0 0 0-.532 1.047a3.5 3.5 0 0 0-.148 1.535q.07.48.262.926c.14.312.316.61.527.879c.36.472.77.902 1.223 1.281a12.5 12.5 0 0 0 2.418 1.602a23 23 0 0 0 3.218 1.421l-.355.114a81 81 0 0 0 6.758 1.847c2.281.524 4.586.946 6.906 1.266c2.316.324 4.648.547 6.988.668a79 79 0 0 0 7.012.05c2.273.063 4.55.028 6.82-.105a81 81 0 0 0 6.778-.71c.468-.06.922-.13 1.37-.192q.914-.134 1.821-.285a57 57 0 0 0 3.89-.746a55 55 0 0 0 6.63-1.899c.89-.34 1.77-.715 2.629-1.133a20 20 0 0 0 2.148-1.242a11.4 11.4 0 0 0 1.578-1.324c.39-.418.727-.89.988-1.402c.211-.461.325-.961.336-1.47a3.26 3.26 0 0 0-.406-1.585a4.7 4.7 0 0 0-.71-1.027a9 9 0 0 0-1.024-.973a10 10 0 0 0-.614-.484a15 15 0 0 0-1.484-.903a22.6 22.6 0 0 0-3.77-1.683a53.4 53.4 0 0 0-7.453-2.016a78 78 0 0 0-5.93-.973a97 97 0 0 0-6.558-.609c-2.344-.145-4.691-.21-7.039-.207M18.418 20.055v87.89c0 9.032 20.055 16.356 44.941 16.5H64c25.172 0 45.582-7.113 45.582-16.5v-87.89c0 9.172-20.41 16.496-45.582 16.496s-45.582-7.11-45.582-16.496m22.117 36.48c2.422-.097 4.836.29 7.11 1.137v6.113a11.53 11.53 0 0 0-7.11-2.062a4.85 4.85 0 0 0-2.988.855a2.42 2.42 0 0 0-1.067 2.133a3.13 3.13 0 0 0 .852 2.277a13 13 0 0 0 3.629 2.203a17.2 17.2 0 0 1 5.902 4.055a7.46 7.46 0 0 1 1.778 4.977a7.68 7.68 0 0 1-2.348 6.468a13.36 13.36 0 0 1-8.39 2.348a15.4 15.4 0 0 1-7.61-1.707v-6.613a11.8 11.8 0 0 0 7.75 2.988a5.8 5.8 0 0 0 3.203-.781a2.71 2.71 0 0 0 1.137-2.207a2.98 2.98 0 0 0-1.067-2.274a20.6 20.6 0 0 0-4.41-2.562c-4.836-2.133-7.11-4.977-7.11-8.602a7.68 7.68 0 0 1 2.985-6.332a11.67 11.67 0 0 1 7.754-2.414m25.598.281a14.2 14.2 0 0 1 7.113 1.852A12.87 12.87 0 0 1 78.223 64a16.5 16.5 0 0 1 2.347 7.54a16.63 16.63 0 0 1-2.347 8.956a12.74 12.74 0 0 1-7.114 5.406l8.75 7.82h-8.605l-6.117-7.109a14.7 14.7 0 0 1-7.11-2.133a12.53 12.53 0 0 1-4.906-5.261a16.06 16.06 0 0 1-1.707-7.114A17.5 17.5 0 0 1 53.262 64a13.2 13.2 0 0 1 5.191-5.262a15 15 0 0 1 7.68-1.922m19.199.075h6.402v24.175h11.094v5.192H85.332Zm-19.484 4.906a7.1 7.1 0 0 0-5.547 2.629a10.9 10.9 0 0 0-2.063 7.113a10.84 10.84 0 0 0 2.063 7.11a6.54 6.54 0 0 0 5.406 2.558a6.67 6.67 0 0 0 5.402-2.488a10.36 10.36 0 0 0 1.993-7.18c.156-2.52-.52-5.016-1.918-7.113a6.18 6.18 0 0 0-5.336-2.63Zm0 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.linux {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='white' fill-rule='evenodd' d='M530.798 64c-5.786 0-11.759.299-17.88.784c-157.798 12.431-115.95 179.448-118.34 235.108c-2.874 40.803-11.198 72.945-39.234 112.776c-33.037 39.235-79.402 102.66-101.39 168.772c-10.378 31.06-15.305 62.865-10.714 92.916a15.8 15.8 0 0 0-4.143 5.04c-9.706 10.004-16.762 22.436-24.713 31.32c-7.429 7.43-18.106 9.968-29.753 14.933c-11.683 5.077-24.563 10.041-32.253 25.421c-3.36 7.018-5.077 14.67-4.928 22.435c0 7.43 1.008 14.97 2.053 20.01c2.165 14.895 4.33 27.214 1.456 36.21c-9.258 25.385-10.415 42.781-3.92 55.436c6.496 12.469 19.972 17.509 35.054 22.436c30.275 7.466 71.301 5.04 103.592 22.361c34.569 17.434 69.66 25.05 97.657 17.546a66.01 66.01 0 0 0 45.096-35.278c21.913-.112 45.917-10.042 84.367-12.468c26.094-2.165 58.759 9.967 96.239 7.429c.933 5.04 2.351 7.428 4.255 12.468l.112.112c14.597 29.043 41.55 42.258 70.331 39.981c28.782-2.24 59.43-20.01 84.255-48.754c23.556-28.558 62.828-40.466 88.773-56.108c12.99-7.429 23.48-17.508 24.227-31.843c.859-14.932-7.428-30.312-26.654-51.404v-3.621l-.112-.112c-6.346-7.466-9.332-19.972-12.617-34.568c-3.174-14.97-6.795-29.342-18.367-39.048h-.112c-2.203-2.016-4.592-2.501-7.018-5.04a13.33 13.33 0 0 0-7.093-2.389c16.09-47.709 9.855-95.193-6.458-137.9c-19.898-52.636-54.69-98.478-81.195-130.022c-29.715-37.517-58.833-73.056-58.273-125.767c1.008-80.335 8.848-228.948-132.3-229.172m19.748 127.11h.486c7.951 0 14.783 2.315 21.8 7.392c7.131 5.04 12.32 12.394 16.389 19.898c3.92 9.668 5.898 17.134 6.197 27.027c0-.747.224-1.493.224-2.203v3.883a3.2 3.2 0 0 1-.15-.784l-.149-.896a67.5 67.5 0 0 1-5.6 26.355a35.6 35.6 0 0 1-7.95 12.506a26.5 26.5 0 0 0-3.286-1.568c-3.92-1.68-7.429-2.389-10.64-4.965a49 49 0 0 0-8.175-2.463c1.83-2.203 5.413-4.965 6.795-7.392c1.978-4.778 3.06-9.855 3.285-15.007v-.71a45.2 45.2 0 0 0-2.277-14.931c-1.68-5.04-3.77-7.504-6.832-12.469c-3.136-2.464-6.234-4.928-9.967-4.928h-.598c-3.471 0-6.57 1.12-9.78 4.928a29.9 29.9 0 0 0-7.653 12.469a44 44 0 0 0-3.36 14.932v.71c.075 3.322.299 6.681.747 9.966c-7.205-2.5-16.351-5.04-22.66-7.54c-.375-2.46-.6-4.942-.672-7.43v-.746a66.15 66.15 0 0 1 5.6-28.707a40.46 40.46 0 0 1 16.052-19.897a36.77 36.77 0 0 1 22.174-7.43m-110.573 2.203h1.344c5.3 0 10.08 1.792 14.895 5.04c5.45 4.816 9.855 10.751 12.842 17.359c3.36 7.429 5.263 14.97 5.711 24.9v.149c.261 5.002.224 7.503-.074 9.93v2.986c-1.12.261-2.091.672-3.099.896c-5.674 2.053-10.229 5.04-14.67 7.466c.447-3.322.484-6.682.111-9.967v-.56c-.448-4.965-1.456-7.429-3.061-12.431a22.9 22.9 0 0 0-6.197-9.968a9.26 9.26 0 0 0-6.831-2.389h-.784c-2.65.224-4.853 1.53-6.944 4.928a20.6 20.6 0 0 0-4.48 10.08a35.2 35.2 0 0 0-.858 12.356v.522c.448 5.04 1.381 7.504 3.024 12.469c1.68 5.002 3.62 7.466 6.16 10.004c.41.336.783.672 1.268.896c-2.613 2.128-4.367 2.613-6.57 5.077a11.4 11.4 0 0 1-4.89 2.539a98 98 0 0 1-10.266-15.007a66.2 66.2 0 0 1-5.786-24.9a65.7 65.7 0 0 1 2.986-24.937a53.4 53.4 0 0 1 10.565-19.971c4.778-4.965 9.706-7.467 15.604-7.467M491.153 257c12.357 0 27.326 2.427 45.357 14.895c10.938 7.467 19.524 10.042 39.31 17.471h.111c9.52 5.077 15.12 9.93 17.844 14.895v-4.89a21.32 21.32 0 0 1 .598 17.545c-4.592 11.61-19.263 24.041-39.72 31.47v.075c-10.005 5.04-18.703 12.43-28.931 17.358c-10.304 5.04-21.95 10.9-37.78 9.968a42.5 42.5 0 0 1-16.723-2.502a133 133 0 0 1-12.02-7.391c-7.28-5.04-13.552-12.394-22.847-17.359v-.186h-.187c-14.932-9.184-22.995-19.114-25.609-26.542c-2.575-10.005-.186-17.509 7.205-22.399c8.362-5.04 14.186-10.116 18.031-12.543c3.882-2.762 5.338-3.808 6.57-4.89h.075v-.112c6.309-7.541 16.276-17.508 31.32-22.436c5.19-1.344 10.975-2.427 17.396-2.427m104.489 80c13.402 52.898 44.685 129.724 64.806 166.98c10.676 19.935 31.918 61.932 41.138 112.888c5.824-.187 12.282.672 19.15 2.39c24.116-62.38-20.382-129.426-40.652-148.054c-8.25-7.504-8.66-12.506-4.592-12.506c21.988 19.935 50.956 58.684 61.446 102.92c4.816 19.973 5.936 41.214.784 62.343c2.501 1.045 5.04 2.277 7.653 2.501c38.525 19.935 52.748 35.016 45.917 57.377v-1.605c-2.277-.112-4.48 0-6.757 0h-.56c5.637-17.433-6.794-30.798-39.757-45.693c-34.158-14.932-61.446-12.543-66.113 17.359c-.261 1.605-.448 2.464-.634 5.04c-2.539.858-5.19 1.978-7.802 2.389c-16.053 10.004-24.713 24.974-29.604 44.311c-4.853 19.898-6.346 43.155-7.652 69.771v.112c-.784 12.469-6.384 31.283-11.909 50.434c-55.996 40.018-133.644 57.415-199.682 12.468a98.7 98.7 0 0 0-15.007-19.897a54.1 54.1 0 0 0-10.265-12.468c6.794 0 12.617-1.083 17.358-2.501a22.96 22.96 0 0 0 11.722-12.469c4.032-9.967 0-26.02-12.879-43.415c-12.879-17.434-34.755-37.144-66.747-56.78c-23.518-14.895-36.808-32.478-42.93-52.114c-6.16-19.934-5.339-40.504-.56-61.409c9.146-39.944 32.59-78.767 47.559-103.144c3.994-2.427 1.381 5.04-15.231 36.36c-14.783 28.035-42.594 93.214-4.554 143.872a303.3 303.3 0 0 1 24.153-107.363c21.054-47.709 65.067-130.807 68.539-196.658c1.791 1.344 8.1 5.04 10.788 7.54c8.138 4.966 14.186 12.432 22.025 17.36c7.877 7.503 17.807 12.505 32.702 12.505c1.456.112 2.8.224 4.144.224c15.343 0 27.214-5.002 37.181-10.004c10.826-5.002 19.45-12.469 27.625-14.932h.186c17.434-5.04 31.209-15.007 39.01-26.132m81.605 334.408c1.38 22.436 12.804 46.477 32.925 51.404c21.95 5.003 53.532-12.43 66.86-28.558l7.876-.336c11.76-.298 21.54.374 31.62 9.968l.111.112c7.765 7.429 11.386 19.822 14.597 32.701c3.173 14.97 5.749 29.118 15.268 39.795c18.143 19.673 24.078 33.821 23.742 42.557l.112-.224v.672l-.112-.448c-.56 9.78-6.906 14.783-18.59 22.212c-23.519 14.97-65.18 26.579-91.722 58.609c-23.07 27.512-51.18 42.52-76.005 44.46c-24.788 1.98-46.178-7.466-58.759-33.522l-.186-.112c-7.84-14.97-4.48-38.264 2.09-63.09c6.57-24.936 15.978-50.209 17.284-70.853c1.382-26.654 2.837-49.836 7.28-67.718c4.48-17.358 11.498-29.752 23.929-36.733l1.68-.821zm-403.731 1.83h.373c1.978 0 3.92.186 5.86.522c14.037 2.053 26.356 12.431 38.19 28.073l33.971 62.118l.112.112c9.071 19.897 28.147 39.72 44.386 61.147c16.202 22.324 28.745 42.221 27.214 58.61v.224c-2.128 27.774-17.881 42.855-41.997 48.305c-24.078 5.04-56.742.075-89.407-17.321c-36.136-20.01-79.066-17.508-106.653-22.473c-13.775-2.464-22.81-7.504-26.99-14.97c-4.144-7.428-4.219-22.435 4.591-45.916v-.112l.075-.112c4.368-12.469 1.12-28.11-1.008-41.773c-2.053-14.97-3.099-26.468 1.605-35.091c5.973-12.469 14.783-14.895 25.721-19.897c11.013-5.04 23.929-7.541 34.195-17.509h.075v-.111c9.556-10.005 16.612-22.436 24.936-31.284c7.093-7.503 14.186-12.543 24.75-12.543m267.25-338.74c-16.24 7.504-35.278 19.973-55.548 19.973c-20.233 0-36.211-9.967-47.746-17.396c-5.786-5.003-10.453-10.005-13.962-12.506c-6.122-5.002-5.375-12.468-2.762-12.468c4.069.597 4.815 5.04 7.429 7.503c3.583 2.464 8.026 7.429 13.476 12.431c10.863 7.466 25.385 17.434 43.527 17.434c18.106 0 39.31-9.968 52.189-17.397c7.28-5.04 16.612-12.468 24.19-17.433c5.824-5.114 5.562-10.005 10.415-10.005c4.816.598 1.27 5.003-5.487 12.432a302 302 0 0 1-25.759 17.47v-.037zm-40.392-59.13v-.822c-.224-.71.485-1.568 1.083-1.867c2.762-1.605 6.72-1.008 9.706.15c2.351 0 5.972 2.5 5.6 5.04c-.225 1.829-3.174 2.463-5.04 2.463c-2.054 0-3.435-1.605-5.264-2.538c-1.941-.672-5.45-.299-6.085-2.427m-20.57 0c-.746 2.164-4.218 1.828-6.196 2.463c-1.755.933-3.21 2.538-5.189 2.538c-1.904 0-4.89-.709-5.114-2.538c-.336-2.464 3.285-4.965 5.6-4.965c3.023-1.157 6.868-1.755 9.668-.187c.71.336 1.344 1.12 1.12 1.867v.784h.112z'/%3E%3C/svg%3E");
  }

.code {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' fill-rule='evenodd' d='M9.424 2.023a.75.75 0 0 1 .556.904L7.48 13.42a.75.75 0 0 1-1.46-.348L8.52 2.58a.75.75 0 0 1 .904-.556ZM11.16 4.22a.75.75 0 0 1 1.06 0l3.25 3.25L16 8l-.53.53l-3.25 3.25a.75.75 0 1 1-1.06-1.06L13.88 8l-2.72-2.72a.75.75 0 0 1 0-1.06M4.84 5.28a.75.75 0 1 0-1.06-1.06L.53 7.47L0 8l.53.53l3.25 3.25a.75.75 0 0 0 1.06-1.06L2.12 8z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

.powerbi {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M11.379 23.613h9.508a2 2 0 0 1 2 2v18.036H11.379a2 2 0 0 1-2-2V25.613a2 2 0 0 1 2-2m15.58-9.44V6.649a2 2 0 0 1 2-2h9.508a2 2 0 0 1 2 2v35a2 2 0 0 1-2 2h-6.79'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M18.169 23.613v-7.44a2 2 0 0 1 2-2h9.508a2 2 0 0 1 2 2v27.476h-8.79'/%3E%3C/svg%3E");
  }